APP_PIN=change-moi-avec-un-long-pin

OPENAI_API_KEY=
OPENAI_VISION_MODEL=gpt-5-nano

SUPABASE_URL=https://VOTRE-PROJET.supabase.co
SUPABASE_SECRET_KEY=sb_secret_xxxxxxxxxxxxxxxxx
SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxxxxxxxxxx

# Le code utilise un effort de raisonnement minimal pour les modèles GPT-5.
# OPENAI_REASONING_EFFORT=minimal
